@font-face {
  font-family: HanaMinA;
  src: url(HanaMinA.woff);
}

.nrGrammardata {
  background: white;
  font-family: serif, HanaMinA;
}

.nrGrammardata section,
.nrGrammardata header {
  position: relative;
  width: 800px;
  margin: auto;
  z-index: 1;
}

.nrGrammardata h1 {
  border-bottom: 1px solid gray;
  font-size: 200%;
}

.nrGrammardata h2 {
  font-size: 150%;
}

.nrGrammardata h3 {
  font-size: 125%;
}

.nrGrammardata h4 {
  font-size: 115%;
}

.nrGrammardata h5 {
  font-size: 110%;
}

.nrGrammardata h6 {
  font-size: 105%;
}

.nrGrammardata *[data-before]:before {
  content: attr(data-before);
}

.nrGrammardata p {
  text-align: justify;
}

.nrGrammardata nav {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 25px;
  right: 30px;
  height: 500px;
  text-align: right;
  font-size: 13px;
  font-family: Arial, HanaMinA;
  z-index: 0;
  max-width: 15em;
}

.nrGrammardata nav ul li {
  display: none;
}

.nrGrammardata nav ul li + li.h2 {
  margin-top: 0.5em;
}

.nrGrammardata nav ul li.h2 {
  margin-bottom: 0.5em;
}

.nrGrammardata nav ul li.h3 {
  font-size: 90%;
  font-style: italic;
}

.nrGrammardata nav ul.hideh3 li.h3 {
  display: none!important;
}

.nrGrammardata nav ul li.h3:after {
  content: " --";
}

.nrGrammardata nav ul.hideh3 li.h3 {
  display: none!important;
}

.nrGrammardata nav ul.active li {
  display: block;
}

.nrGrammardata nav ul li:first-child {
  display: block;
  font-weight: bold;
  font-size: 10pt;
}

.nrGrammardata nav ul li:nth-child(2) {
  margin-top: 0.5em;
}

.nrGrammardata nav ul li:last-child {
  margin-bottom: 0.56em;
}

.nrGrammardata nav ul li a {
  color: inherit;
}

.nrGrammardata nav ul.hideh3.active li.h1,
.nrGrammardata nav ul li a.active {
  color: rgb(100,100,255);
}

.nrGrammardata nav div.donate {
  margin-top: 1em;
  text-align: center;
}

.nrGrammardata header {
  text-align: center;
}

.nrGrammardata ol {
  padding: 0;
}

.nrGrammardata ul {
  margin: 0.25em 0;
}

.nrGrammardata nav ul {
  padding: 0;
}

.nrGrammardata nav li {
  list-style-type: none;
}

.nrGrammardata rt {
  color: rgba(0,0,0,0.4);
}

.nrGrammardata table {
  margin: 0.5em 1em;
  border-spacing: 1em 0.2em;
}

.nrGrammardata th {
  border-bottom: 1px solid gray;
  text-align: left;
  vertical-align: bottom;
}

.nrGrammardata th.noline {
  border-bottom: none;
}

.nrGrammardata td.label {
  font-weight: bold;
  padding-right: 0.5em;
}

.nrGrammardata div.example {
  margin: 0.5em 0 0.5em 1em;
}

.nrGrammardata header img {
  width: 50%;
}

.nrGrammardata img {
  width: 70%;
}

only screen and (min-device-width: 768px) {
  .nrGrammardata img {
    width: 100%;
  }
}

.nrGrammardata figcaption {
   font-size: 80%;
}

/*
  CSS3 vertical writing ftw.
*/
.nrGrammardata div.vertical {
  margin-left: 1em;

  -webkit-text-orientation: upright;
  -webkit-writing-mode: vertical-rl;

  -moz-text-orientation: upright;
  -moz-writing-mode: vertical-rl;

  -o-text-orientation: upright;
  -o-writing-mode: vertical-rl;

  -ms-text-orientation: upright;
  -ms-writing-mode: vertical-rl;

  text-orientation: upright;
  writing-mode: vertical-rl;
}

.nrGrammardata a {
  color: #008;
  text-decoration: none;
}

.nrGrammardata a.link {
  color: #22D;
}

.nrGrammardata section a {
  color: inherit;
}

.nrGrammardata a:hover {
  color: #900;
}

.nrGrammardata a.icon img {
  margin-top: 2em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px #999;
}

.nrGrammardata a.icon img.amazon {
  position:relative;
  top: 1px;
}

.nrGrammardata a.icon + a.icon {
  margin-left: 0.75em;
}

@media handheld, (max-width: 1244px) {
    .nrGrammardata nav {
      right: 5px;
      width: 8vw;
    }
}
