h1 {
  border-bottom: 1px solid gray;
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 115%;
}

h5 {
  font-size: 110%;
}

h6 {
  font-size: 105%;
}

*[data-before]:before {
  content: attr(data-before);
}

p {
  text-align: justify;
}

nav {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 25px;
  right: 30px;
  height: 500px;
  text-align: right;
  font-size: 13px;
  font-family: Arial;
  z-index: 0;
}

nav ul li {
  display: none;
}

nav ul li + li.h2 {
  margin-top: 0.5em;
}

nav ul li.h2 {
  margin-bottom: 0.5em;
}

nav ul li.h3 {
  font-size: 90%;
  font-style: italic;
}

nav ul.hideh3 li.h3 {
  display: none!important;
}

nav ul li.h3:after {
  content: " --";
}

nav ul.hideh3 li.h3 {
  display: none!important;
}

nav ul.active li {
  display: block;
}

nav ul li:first-child {
  display: block;
  font-weight: bold;
  font-size: 10pt;
}

nav ul li:nth-child(2) {
  margin-top: 0.5em;
}

nav ul li:last-child {
  margin-bottom: 0.56em;
}

nav ul li a {
  color: inherit;
}

nav ul.hideh3.active li.h1,
nav ul li a.active {
  color: rgb(100,100,255);
}

header {
  text-align: center;
}

ol {
  padding: 0;
}

ul {
  margin: 0.25em 0;
}

nav ul {
  padding: 0;
}

nav li {
  list-style-type: none;
}

section, header {
  position: relative;
  width: 800px;
  margin: auto;
  background: white;
  z-index: 1;
}

ruby {
}

rb {
}

rt {
  color: rgba(0,0,0,0.4);
}


table {
  margin: 0.5em 1em;
  border-spacing: 1em 0.2em;
}

tr {
}

th {
  border-bottom: 1px solid gray;
  text-align: left;
  vertical-align: bottom;
}

th.noline {
  border-bottom: none;
}


td {
}

td.label {
  font-weight: bold;
  padding-right: 0.5em;
}

div.example {
  margin: 0.5em 0 0.5em 1em;
}

header img {
  width: 50%;
}

img {
  width: 70%;
}

only screen and (min-device-width: 768px) {
  img {
    width: 100%;
  }
}

figcaption {
   font-size: 80%;
}

/*
  CSS3 vertical writing ftw.
*/
div.vertical {
  margin-left: 1em;

  -webkit-text-orientation: upright;
  -webkit-writing-mode: vertical-rl;

  -moz-text-orientation: upright;
  -moz-writing-mode: vertical-rl;

  -o-text-orientation: upright;
  -o-writing-mode: vertical-rl;

  -ms-text-orientation: upright;
  -ms-writing-mode: vertical-rl;

  text-orientation: upright;
  writing-mode: vertical-rl;
}

a {
  color: #008;
  text-decoration: none;
}

section a {
  color: inherit;
}

a:hover {
  color: #900;
}

a.icon img {
  margin-top: 2em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px #999;
}
a.icon img.amazon {
  position:relative;
  top: 1px;
}
a.icon + a.icon {
  margin-left: 0.75em;
}
